@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 231 100% 95%;
    --foreground: 231 5% 0%;
    --card: 231 50% 90%;
    --card-foreground: 231 5% 10%;
    --popover: 231 100% 95%;
    --popover-foreground: 231 100% 0%;
    --primary: 231 14.9% 18.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 193 30% 85%;
    --muted-foreground: 231 5% 35%;
    --accent: 193 30% 80%;
    --accent-foreground: 231 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 231 5% 90%;
    --border: 231 30% 50%;
    --input: 231 30% 18%;
    --ring: 231 14.9% 18.4%;
    --radius: 0.5rem;
}
.dark {
    --background: 231 50% 5%;
    --foreground: 231 5% 90%;
    --card: 231 50% 0%;
    --card-foreground: 231 5% 90%;
    --popover: 231 50% 5%;
    --popover-foreground: 231 5% 90%;
    --primary: 231 14.9% 18.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 193 30% 15%;
    --muted-foreground: 231 5% 60%;
    --accent: 193 30% 15%;
    --accent-foreground: 231 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 231 5% 90%;
    --border: 231 30% 18%;
    --input: 231 30% 18%;
    --ring: 231 14.9% 18.4%;
    --radius: 0.5rem;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
